# Node
node_modules/
.npm
.eslintcache

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
nohup.out

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Coverage
coverage/

# Build outputs
dist/
dist-ssr/
build/
out/
.vite/
.next/
target/
test-ledger/
bin/
obj/

# TypeScript
*.tsbuildinfo

# Dependency directories
.pnpm-store/

# ESM build caches
.cache/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*.local
.env.apple-developer-domain-association.development
.env.apple-developer-domain-association.production

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo
.project
.classpath
.settings/

# OS files
.DS_Store
Thumbs.db
ehthumbs.db

# Hardhat / Solidity artifacts
artifacts/
cache/
typechain/
typechain-types/

# Circom / SnarkJS
*.r1cs
*.zkey
*.wasm
*.ptau
*.sym
*.vkey

# Anchor / Solana
.anchor/

# Turbo
.turbo

# Rust
debug/
release/

# Docker
.dockerignore
!/**/.dockerignore

# Misc
*.tgz
tmp/
temp/
.DS_Store
.env.apple-developer-domain-association.development
.env.apple-developer-domain-association.production
session-variables.json
